*{
    padding: 0;
    margin: 0;
     font-family: "Gabarito", sans-serif;
}
@keyframes popup-show {
      0%{
         transform: scale(0);
      }
      100%{
         transform: scale(1);
         opacity: 1;
      }
   }
.container{
   .navbar__menu{
margin: auto 0;
display: none;
    /* height: 100%; */
    /* text-align: center; */
    font-size: 12px;
}
   .imageDom__offer{
      animation-name: popup-show;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      opacity: 0;
   }
margin: 10px;
    .navbar{
      .navbar__2{
         width: 72%;
      }
      .navbar__3{
      display: flex;
    gap: 5px;
    margin-left: 10px;
    align-items: center;
      }
      z-index: 1;
      position: sticky;
    top: 0;
    background: #FFF;
          padding: 10px 0;
          border-bottom: 1px solid #000;
    margin: 10px 0;
        display: flex;
    justify-content: space-between;
    }
     .header-sec-left{
        display: flex;
        gap: 10px;
        margin: 10px 0;
        align-items: center;
        .header-sec-left__courses{
         padding: 4px 0;
        }
     }
     /* .header-sec-left > div{
        margin: 10px;
     } */
     .header-sec-left__title{
        /* padding: 5px 0; */
        color: #A435F0;
        font-size: 22px;
     }
     .header-sec-left__searchBox{
                position: relative;
                i{
                      position: absolute;
    top: 6px;
    /* vertical-align: middle; */
    left: 4px;
                }
            input{
width: 100%;
            box-sizing: border-box;
            padding: 5px 26px;
            border-radius: 15px;
            /* border: none; */
            border: 1px solid #000;
            }
     }
     .header-sec-right{
        display: flex;
        align-items: center;
        margin: 10px 0;
        /* > div, > i{
margin: 10px;
padding: 4px 0;
        } */
     }
     .section-two{
          display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
      p{
         cursor: pointer;
            background: #A435F0;
            padding: 6px;
            border-radius: 15px;
            color: #FFF;
            font-size: 15px;
            border: 1px solid #000;
            &:hover{
               background-color: transparent;
               transition-duration: 1s;
               color: #A435F0;
               border: 1px solid #000;
            }
      }
     }
     .imageDom{
      position: relative;
      .imageDom__offer{
             position: absolute;
    color: #FFF;
    border: 2px solid #FFF;
    /* width: 100%; */
    padding: 10px;
    top: 0;
    border-radius: 10px;
    left: 32%;
    top: 10%;
      }
      img{
         width: 100%;
      }
     }
     .top-picks, .popular-sec{
      .course-sec{
            display: flex;
            flex-wrap: wrap;
            /* gap: 30px; */
            justify-content: space-around;
      }
          margin: 10px;
          .course__t{
            font-size: 14px;
            font-weight: bolder;
          }
          p{
            font-size: 12px;
          }
          .course-sec__course{
                          flex-basis: 20%;
            /* flex-grow: 1; */
            margin: 5px;
    img{
      width: 100%;
      height: 150px;
    }
          }
     }
.topics_recom{
   margin: 10px;
   .topics_recom__element{
        padding: 10px 0;
            display: flex;
            flex-wrap: wrap;
    p{
                      border: 1px solid #000;
                flex-grow: 1;
                /* padding: 5px; */
                text-align: center;
                flex-basis: 25%;
                margin: 5px;
    }
   }
}
.footer-sec{
   background: #000;
   padding: 10px;
   .footer-sec__contact{
    color: #FFF;
            /* padding: 10px; */
            display: flex;
            gap: 50px;
    p{
margin: 10px 0;
    }
   }
   .footer-sec__copy{
          display: flex;
    color: #fff;
    padding: 10px 0;
    justify-content: space-between;
   }
}
.header-sec-right_learning{
   &:not(p){

      white-space: nowrap;
   }
}
.header-sec-right_learning{
   position: relative;
   cursor: pointer;
   &:hover p{
      display: block;
   }
   p{
      border: 2px solid #000;
    padding: 10px;
    position: absolute;
    right: 0;
    font-size: 12px;
    margin-top: 8px;
    background: #FFF;
    display: none;
   }
}
   }

   @media screen and (max-width: 800px) {
      body{

         font-size: 10px;
      }
      .section-two{
         display: none !important;
      }
   }
   @media screen and (max-width: 600px) {
      .imageDom__offer{
         left: 19% !important;
      }
      .course-sec__course{
         flex-basis: 40% !important;
      }
      .navbar__2, .navbar__3{
         display: none !important;
      }
      .navbar__menu{
         display: block !important;
      }
   }